@import 'library';
html,
body,
nav,
main,
footer,
div {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
    font-family: $text-font;
    font-size: 12px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background: url(pics/6.png);
}

header {
    color: #333;
    background: white;
    padding: 1em 1em 1.5em;
    margin: 1em 0 2em;
    text-align: center;
    position: relative;
    @media screen and (max-width: 750px) {
        margin: 1em 0;
    }
    h1 {
        margin: 0;
        font-size: 5vw;
        font-weight: 900;
        letter-spacing: 0.05em;
        background: #333;
        background: url(pics/6.png) -80px -80px;
        color: #333;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        text-align: center;
        @media screen and (max-width: 750px) {
            font-size: 2em;
            margin: 1.5em 0 0;
        }
    }
    .user-info {
        position: absolute;
        top: .5em;
        right: 1.5em;
        .account-icon {
            .material-icons {
                font-size: 3em;
            }
        }
    }
}

.wrapper {
    @include flexbox;
    @include flex-direction(column);
}

main {
    background: white;
    margin-bottom: 1em;
    min-height: 70vh;
}

.container {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    margin: 0 0 2em;
    padding: 1em;
    @media screen and (max-width: 750px) {
        @include flexbox;
        @include flex-direction(column);
    }
    .inner-wrapper {
        font-size: 1.2em;
        font-weight: 300;
        padding: 0 1em;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(flex-start);
        @include align-content(center);
        @media screen and (max-width: 750px) {
            @include align-items(center);
            text-align: center;
        }
        p {
            margin: 0.2em 0;
        }
    }
}

footer {
    padding: 5px 10px;
    margin: 1em 0;
    color: #FFF;
    font-size: 1em;
    text-align: center;
}

.is-showInfo.user-info-box {
    display: none;
}

#turnInfo {
    float: left;
    width: 350px;
    margin: 2em 0;
}

#startGameBtn,
#nextBtn {
    padding: 0.4em 1em 0.4em;
    font-size: 1em;
    background: #333;
    background: url(pics/6.png);
    border: 1px solid black;
    color: white;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    width: 140px;
    margin: 0 0 2em;
}

#nextBtn:hover {
    background-color: white;
    border-style: inset;
}

#message {
    clear: both;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0 2em 2em;
    margin: 2em 0 0;
    @media screen and (max-width: 750px) {
        text-align: center;
    }
}

.select-bar {
    margin: 1em 0;
}

#bricks {
    width: 100%;
    margin-bottom: 5px;
    margin: 0 auto;
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    @include align-items(center);
    @include align-content(center);
}

.bricks-container {
    max-width: 750px;
    img,
    .material-icons {
        width: 22%;
        margin: 2px;
    }
}

.bricks-container-medium {
    max-width: 750px;
    img,
    .material-icons {
        width: 18%;
        margin: 2px;
    }
}

.bricks-container-large {
    max-width: 900px;
    img,
    .material-icons {
        width: 15%;
        margin: 2px;
    }
}

#bricks .material-icons {
    color: $celeste;
    font-size: 5rem;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    @media screen and (max-width: 750px) {
        font-size: 3em;
        line-height: 2em;
    }
}

.brickBack {
    padding: 0;
    cursor: pointer;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 70vw;
    margin: 0px auto;
    padding: 3em;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    position: relative;
    text-align: right;
    .close-icon {
        position: absolute;
        top: 0.5em;
        right: 2.5em;
    }
    .expand-icon {
        position: absolute;
        bottom: 0.5em;
        right: 4.5em;
    }
    p span {
        display: block;
        font-size: 2em;
    }
    .is-collapsed {
        display: none;
    }
    .material-icons {
        font-size: 2rem;
        color: #333;
    }
}

.styled-select {
    height: 29px;
    overflow: hidden;
    width: 140px;
    outline: 0;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 0.9em;
    height: 29px;
    padding: 3px;
    /* If you add too much padding here, the options won't show in IE */
    width: 130px;
}

.styled-select.slate {
    height: 32px;
    width: 140px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 130px;
}