<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <title>Pattis Memory</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,900|Roboto:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://unpkg.com/vue"></script>



</head>

<body>
    <div class="wrapper">
        <header>
            <h1>PATTIS MEMORY GAME</h1>
            <div id="userInfo" class="user-info">
                <span v-on:click=" showInfo = !showInfo" class="account-icon"><i class="material-icons">{{showInfo ? 'account_box' : ''}}</i></span>
                <div class="user-info-box" v-bind:class="{'is-showInfo' : showInfo }">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div id="userStats" class="modal-container">
                                <span v-on:click=" showInfo = !showInfo" class="close-icon"><i class="material-icons">{{showInfo ? '' : 'close'}}</i></span>
                                <p>Your points:<span id="userTotPoints">0</span></p>
                                <div id="userMoreInfo" v-bind:class="{'is-collapsed' : collapsed }">
                                    <p>Games played:<span id="userCountGames">0</span></p>
                                    <p>Avarage points:<span id="userMeanPoints">0</span></p>
                                </div>
                                <span v-on:click=" collapsed = !collapsed" class="expand-icon"><i class="material-icons">{{collapsed ? 'expand_more' : 'expand_less'}}</i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div id="select-nr-bricks">
                <div class="container">
                    <div class="inner-wrapper">
                        <p>Start playing by selecting number of bricks you want to use and then click the <strong>START GAME</strong> button.</p>
                        <p>Your score will be based on the amount of times the bricks have been turned.</p>
                        <p>You can continue playing to collect more points. <strong>Have fun!</strong></p>
                    </div>
                    <div class="inner-wrapper">
                        <select v-model="selected" id="nrOfBricksMenu" class="select-bar styled-select slate">
                       <option v-for="option in options" v-bind:value="option.value">
                         {{ option.text }}
                      </option>
                        </select>
                        <button type="button" id="startGameBtn">START GAME</button>
                    </div>
                </div>
                <div id="bricks" class="bricks-container" v-if="selected == 16">
                </div>
                <div v-else-if="selected < 26" id="bricks" class="bricks-container-medium">
                </div>
                <div v-else id="bricks" class="bricks-container-large">
                </div>
            </div>

            <div id="message" class="message"></div>
        </main>
        <footer>
            &copy;Joanna Högberg
        </footer>
    </div>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>